@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');
@media screen and (max-width: 600px){
	.notification{
		display: flex;
		margin: 20px 10px;
	}
	.read{
		margin: 0px;
		margin-left: auto;
		order: 1;
		font-size: 16px;
		font-family:'Plus Jakarta Sans', sans-serif;
		font-weight: 500;
		color: hsl(219, 12%, 42%);	
	}
	.note{
		margin: 0px;
		font-size: 23px;
		font-family:'Plus Jakarta Sans', sans-serif;
		font-weight: 800;	
	}
	.unread{
		background-color:  hsl(219, 85%, 26%);
		padding: 5px 10px ;
		color: white;
		border-radius: 10px;
		font-family:'Plus Jakarta Sans', sans-serif;
		font-weight: 800;
		font-size: 16px;
	}
	.notifi-box{
		background-color:white;
		display: inline-flex;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}
	.text{
		display:inline-flex;
		margin-left: 10px;
		padding-right: 5px;
	}
	.image{
		width: 50px;
		height: 50px;
	}
	.name{
		display: inline-block;
		font-family:'Plus Jakarta Sans', sans-serif; 
		font-weight: 800;
	}
	.private{
		background: white;
		border: 1px solid black;
		width: 70%;
		margin-left: auto;
		margin-right: 20px;
		padding: 10px;
		font-size: 16px;

	}
	.action{
		font-family:'Plus Jakarta Sans', sans-serif; 
		font-weight: 500;
	}
	.comment{
		color: hsl(219, 85%, 26%);
		font-weight: 800;
	}
	.image{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 10px;
	}
	.new{
		background-color: hsl(211, 68%, 94%);
	}
	.fa-solid{
		color: red;
		margin-left: 5px;
		font-size: 10px;
	}
}
@media screen and (min-width: 600px){
	.notification{
		display: flex;
		margin: 20px 10px;
	}
	.read{
		margin: 0px;
		margin-left: auto;
		order: 1;
		font-size: 16px;
		font-family:'Plus Jakarta Sans', sans-serif;
		font-weight: 500;
		color: hsl(219, 12%, 42%);	
	}
	.note{
		margin: 0px;
		font-size: 23px;
		font-family:'Plus Jakarta Sans', sans-serif;
		font-weight: 800;	
	}
	.unread{
		background-color:  hsl(219, 85%, 26%);
		padding: 5px 10px ;
		color: white;
		border-radius: 10px;
		font-family:'Plus Jakarta Sans', sans-serif;
		font-weight: 800;
		font-size: 16px;
	}
	.notifi-box{
		background-color:white;
		display: inline-flex;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}
	.text{
		display:inline-flex;
		margin-left: 10px;
		padding-right: 5px;
	}
	.image{
		width: 50px;
		height: 50px;
	}
	.name{
		display: inline-block;
		font-family:'Plus Jakarta Sans', sans-serif; 
		font-weight: 800;
	}
	.private{
		background: white;
		border: 1px solid black;
		width: 40%;
		margin-left: 70px;
		padding: 10px;
		font-size: 16px;

	}
	private::hover{
		background-color:hsl(219, 85%, 26%) ;
		cursor: pointer;
	}
	.action{
		font-family:'Plus Jakarta Sans', sans-serif; 
		font-weight: 500;
	}
	.comment{
		color: hsl(219, 85%, 26%);
		font-weight: 800;
	}
	.image{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 10px;
	}
	.new{
		background-color: hsl(211, 68%, 94%);
	}
	.fa-solid{
		color: red;
		margin-left: 5px;
		font-size: 10px;
	}
	.comment:hover {
     cursor: pointer;
	}
	.private:hover{
		background-color:hsl(211, 68%, 94%) ;
		cursor: pointer;
	}
	.read:hover{
		cursor: pointer;
	}
}